.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 1.5rem;
}

.copyright {
  font-size: 0.8rem;
  color: #AAA;
}

.socials {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  >li {
    margin-right: 0.6em;

    >a {
      display: flex;
      align-items: center;
      font-size: 2em;

      >svg {
        margin-right: .3em;
      }
    }
  }
}