.section {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  img {
    display: block;
    width: 100%;
    cursor: pointer;
  }
}

@media screen and (min-width: 800px) {
  .imageGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .imageGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .imageGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}