html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  html {
    color-scheme: dark;
  }

  body {
    color: #EEE;
    background: black;
  }

}

a {
  color: rgb(81, 126, 193);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: #111;
  color: #DADADA;
  border-radius: 5px;
  padding: 0.75rem;
  line-height: 1em;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

main {
  font-size: 1.2em;
}

@media (prefers-color-scheme: dark) {}