.header {
  padding: 2em;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.subtitle {
  margin: 0;
  margin-top: 10px
}

.terminal {
  font-family: Consolas, monospace;
  font-weight: lighter;

  &::before {
    content: ":~$ ";
    color: yellowgreen;
  }

  &::after {
    content: '▂';
    animation: cursor-blink 1s steps(2) infinite;

    @keyframes cursor-blink {
      0% {
        opacity: 0;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}