.header {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 3rem;
  margin: 0;
}

.subtitle {
  margin: 0;
}

.terminal {
  display: block;
  margin: .8rem 0;
  width: 100%;
  max-width: 500px;
  height: calc(2em + 0.75rem*2);
  font-family: Consolas, monospace;
  font-weight: lighter;

  &::after {
    content: '▂';
    animation: cursor-blink 1s steps(2) infinite;

    @keyframes cursor-blink {
      0% {
        opacity: 0;
      }
    }
  }
}

.terminalDirectory {
  $pathname: attr(data-content);
  content: ':~#{$pathname}$';
  color: yellowgreen;
}

@media (prefers-color-scheme: dark) {}